<p id="notice"><%= notice %></p>

<div class="jumbotron">

  <h1 class="display-3">
    <% @most_recent_post.each do |most_recent_post|%>
    <%= most_recent_post.title %>
  </h1>
    <p class="lead"><%=most_recent_post.content[0..75]%>...</p>
    <hr class="my-4">
    <p class="lead">
    <%=link_to "Read more", most_recent_post, class: ""%>
  </p>
  <%end%>
</div>

<div class="">
    <% @posts.each do |post| %>
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="<%=post.avatar(:medium)%>" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><%=post.title%></h4>
          <p class="card-text"><%=post.content[0..30]%>...</p>
          <%=link_to "Read more", post, class:""%>
        </div>
      </div>
      <br>
    <% end %>
</div>
