<head>
  <title>VNAK</title>
  <meta name="description" content="5 min articles to get you started with your business. Blog for new entrepreneurs where we share everything entrepreneurship.">
</head>

<% @most_recent_post.each do |most_recent_post|%>
  <div class="jumbotron jumbotron-index rounded-0 d-flex flex-column justify-content-center align-items-center" style="background-image: url('<%=most_recent_post.avatar.url%>')">
      <h1 class="display-4 text-white mt-4">
        <%= most_recent_post.title %>
      </h1>
      <p class="lead mt-5">
        <%=link_to "Read more", most_recent_post, class: "display-5 text-white"%>
      </p>
  </div>
<%end%>

<h1 class="d-flex justify-content-center">Latest Articles</h1>

<div class="d-flex flex-row justify-content-center flex-wrap">
    <% @posts.each do |post| %>
      <div class="card m-4" style="width: 18rem;">
        <%if post.avatar_file_name != nil %>
        <img class="card-img-top" src="<%=post.avatar(:medium)%>" alt="<%=post.avatar_file_name%>">
        <%end%>
        <div class="card-block">
          <h4 class="card-title"><%=post.title%></h4>
          <p class="post-content-index"><%= post.subtitle%></p>
          <%=link_to "Read more", post, class:"read-more-link"%>
        </div>
      </div>
      <br>
    <% end %>
</div>
