<head>
  <title><%=@post.title%></title>
</head>

<p id="notice"><%= notice %></p>
<% if @post.avatar_file_name != nil%>
  <%= image_tag @post.avatar.url(:large)%>
<%end%>

<div class="d-flex flex-column justify-content-center align-items-center m-5 text-justify">
  <h1><%=@post.title %></h1>
  <div>
    <%= raw @post.content %>
  </div>
  <%= link_to 'Back', posts_path %>
</div>
